@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Users Registered:</h3>
    @foreach (var item in Model)
    {
        @Html.ActionLink(item, "Profiles", "Home", new { UserName = item }, null);<br />
    }
</div>