<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
        <add name="MusicMattersAdmin.Properties.Settings.g" connectionString="(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MusicMattersDb.mdf" />
        <add name="MusicMattersAdmin.Properties.Settings.MusicMattersDbConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\UnMute\Source\Repos\MusicMattersReborn\MusicMattersSite\MusicMattersSite\App_Data\MusicMattersDb.mdf;Initial Catalog=MusicMattersDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>